.text {
  color: #747577;
  line-height: 1.75;
  margin-top: 0;
}
.title {
  color: #4c4f55;
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1rem;
}
.title__small {
  font-size: 1.5rem;
}
.title__white {
  color: #fff;
}
.btn {
  position: relative;
  display: inline-block;
  padding: 0.5rem 2rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.75rem;
  font-weight: 700;
  background-color: #f9b933;
  transition: 350ms all ease-in-out;
  -webkit-transform: translateX(-15px);
          transform: translateX(-15px);
}
.btn:hover {
  background-color: #4c4f55;
}
.btn:before {
  position: absolute;
  top: 0;
  right: -30px;
  display: block;
  content: '';
  background-color: #4c4f55;
  width: 30px;
  height: 100%;
}
.btn:after {
  position: absolute;
  top: -3px;
  right: -32px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  display: block;
  content: url("/img/right-arrow__yellow.png");
}
/* normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
}
a:active,
a:hover {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
.unslider {
  position: relative;
  margin: 0;
  padding: 0;
}
.unslider-wrap {
  position: relative;
  overflow: auto;
  height: 100%;
}
.unslider-wrap.unslider-carousel>li {
  position: relative;
  float: left;
  height: 100%;
}
.unslider-wrap.unslider-carousel>li img {
  display: block;
  width: 100%;
}
.unslider li,
.unslider ol,
.unslider ul {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
}
.unslider-nav {
  position: absolute;
  top: 60%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 6rem;
}
.unslider-nav ol {
  list-style: none;
}
.unslider-nav ol li {
  display: block;
  margin-bottom: 1rem;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  text-indent: -999em;
  cursor: pointer;
}
.unslider-nav ol lilast-child {
  margin-bottom: 0;
}
.unslider-nav ol li.unslider-active {
  background-color: #f9b933;
  cursor: default;
}
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'DinPro', sans-serif;
  text-rendering: optimizeLegibility;
  font-size: 16px;
  background-color: #eee;
}
*,
:before,
:after {
  box-sizing: border-box;
}
@font-face {
  font-family: 'DinPro';
  src: url("/fonts/dinpro-regular.eot");
  src: url("/fonts/dinpro-regular.eot?#iefix") format('embedded-opentype'), url("/fonts/dinpro-regular.woff") format('woff'), url("/fonts/dinpro-regular.ttf") format('truetype'), url("/fonts/dinpro-regular.svg#DINPro-Regular") format('svg');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'DinPro';
  src: url("/fonts/dinpro-medium.eot");
  src: url("/fonts/dinpro-medium.eot?#iefix") format('embedded-opentype'), url("/fonts/dinpro-medium.woff") format('woff'), url("/fonts/dinpro-medium.ttf") format('truetype'), url("/fonts/dinpro-medium.svg#DINPro-Medium") format('svg');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'DinPro';
  src: url("/fonts/dinpro-bold.eot");
  src: url("/fonts/dinpro-bold.eot?#iefix") format('embedded-opentype'), url("/fonts/dinpro-bold.woff") format('woff'), url("/fonts/dinpro-bold.ttf") format('truetype'), url("/fonts/dinpro-bold.svg#DINPro-Bold") format('svg');
  font-weight: 700;
  font-style: normal;
}
.getQuote__home {
  padding-top: 4rem;
  padding-bottom: 4rem;
  text-align: center;
}
.homeActions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-transform: uppercase;
  font-weight: 600;
}
.homeActions-careers,
.homeActions-contact {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.99% * 1/2 - (0px - 0px * 1/2));
  padding: 6rem 6rem;
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  line-height: 1;
}
.homeActions-careers:nth-child(1n),
.homeActions-contact:nth-child(1n) {
  margin-right: 0px;
}
.homeActions-careers:last-child,
.homeActions-contact:last-child {
  margin-right: 0;
}
.homeActions-careers:nth-child(2n),
.homeActions-contact:nth-child(2n) {
  float: right;
}
.homeActions-careers:nth-child(2n),
.homeActions-contact:nth-child(2n) {
  margin-right: 0;
}
.homeActions-careers {
  background: url("/img/careers.jpg") center no-repeat;
  background-size: cover;
}
.homeActions-careers span {
  color: #f9b933;
}
.homeActions-contact {
  background-color: #f9b933;
}
.homeActions-contact span {
  color: #4c4f55;
}
.homeActions-contact img {
  display: block;
  margin-top: 0.5rem;
}
.logo__mainNav,
.logo__footer {
  display: block;
  max-width: 180px;
}
.logo__mainNav img,
.logo__footer img {
  display: block;
  width: 100%;
}
.mainNav {
  padding-left: calc(50% - (1120px / 2));
  padding-right: calc(50% - (1120px / 2));
  position: fixed;
  top: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  background-color: rgba(249,185,51,0.85);
  z-index: 10;
}
.mainMenu {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.mainMenu-item {
  position: relative;
  margin-left: 4.5rem;
}
.mainMenu-item:hover .mainMenu-dropdown {
  display: block;
}
.mainMenu-link {
  padding: 2.5rem 0.5rem;
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
  transition: 350ms all ease-in-out;
}
.mainMenu-link.active,
.mainMenu-link:hover {
  color: #4c4f55;
}
.mainMenu-dropdown {
  position: absolute;
  display: none;
  min-width: 200px;
  background-color: rgba(76,79,85,0.8);
  padding: 1rem;
  list-style: none;
}
.mainMenu-dropdownItem {
  width: auto;
  margin-bottom: 0.5rem;
}
.mainMenu-dropdownItem:last-child {
  margin-bottom: 0;
}
.mainMenu-dropdownLink {
  display: block;
  color: #f9b933;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  transition: 350ms all ease-in-out;
}
.mainMenu-dropdownLink:hover {
  color: #fff;
}
.sectionHeader {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 353px;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.sectionHeader.long-products {
  background: url("/img/products/header01.jpg") center no-repeat;
  background-size: cover;
}
.headerDescription {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 2.5rem 6rem;
  height: 250px;
  background-color: rgba(255,255,255,0.7);
}
.headerDescription-title {
  position: relative;
  margin: 0;
  font-size: 1.75rem;
  color: #4c4f55;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 1;
}
.headerDescription-title:before {
  position: absolute;
  top: -2.5rem;
  content: url("/img/logo-small__yellow.png");
}
.headerDescription-title span {
  font-weight: 700;
}
.mainSlider {
  height: 500px;
}
.mainSlider-slide-01 {
  background: url("/img/mainSlide01.jpg") center no-repeat;
  background-size: cover;
}
.mainSlider-slideInfo {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 500px;
  background-color: rgba(249,185,51,0.7);
  color: #fff;
  text-transform: uppercase;
}
.mainSlider-title {
  position: relative;
  padding: 2.5rem 6rem 1rem;
  font-size: 1.75rem;
  line-height: 1;
}
.mainSlider-title:before {
  position: absolute;
  top: 0;
  content: url("/img/logo-small__white.png");
}
.mainSlider-link {
  display: block;
  padding: 1rem 0 1rem 6rem;
  color: inherit;
  text-decoration: none;
  font-weight: 600;
  background-color: #4c4f55;
}
.sectionContent {
  padding-left: calc(50% - (1120px / 2));
  padding-right: calc(50% - (1120px / 2));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2rem;
  padding-bottom: 4rem;
  background-color: #fff;
}
.productsPreview {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.999999% * 3/4);
  position: relative;
  left: calc(99.99% * 1/4 - (16px - 16px * 1/4) + 16px);
}
.productsPreview:nth-child(1n) {
  margin-right: 0;
}
.productsPreview:last-child {
  margin-right: 0;
}
.productsPreview:nth-child(0n) {
  float: right;
}
.productsPreview:nth-child(0n) {
  margin-right: 0;
}
.productsList {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.999999% * 1/4);
  position: relative;
  left: calc(99.99% * -3/4 - (16px - 16px * -3/4) + 16px);
}
.productsList:nth-child(1n) {
  margin-right: 0;
}
.productsList:last-child {
  margin-right: 0;
}
.productsList:nth-child(0n) {
  float: right;
}
.productsList:nth-child(0n) {
  margin-right: 0;
}
.productsPreview {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.productsPreview-item {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.99% * 1/3 - (16px - 16px * 1/3));
  padding: 0.5rem 0.5rem 0;
  background-color: #eee;
  text-decoration: none;
  color: #4c4f55;
  font-weight: 700;
  transition: 350ms all ease-in-out;
}
.productsPreview-item:nth-child(1n) {
  margin-right: 16px;
}
.productsPreview-item:last-child {
  margin-right: 0;
}
.productsPreview-item:nth-child(3n) {
  float: right;
}
.productsPreview-item:nth-child(3n) {
  margin-right: 0;
}
.productsPreview-item:hover {
  background-color: #f9b933;
}
.productsPreview-item img {
  display: block;
  width: 100%;
}
.productsPreview__home:after {
  content: '';
  display: table;
  clear: both;
}
.productsPreview__home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.productsPreview__home-item {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.99% * 1/6 - (16px - 16px * 1/6));
  padding: 0.5rem 0.5rem 0;
  background-color: #fff;
  text-align: center;
  text-decoration: none;
  color: #4c4f55;
  font-weight: 700;
}
.productsPreview__home-item:nth-child(1n) {
  margin-right: 16px;
}
.productsPreview__home-item:last-child {
  margin-right: 0;
}
.productsPreview__home-item:nth-child(6n) {
  float: right;
}
.productsPreview__home-item:nth-child(6n) {
  margin-right: 0;
}
.productsPreview__home-item img {
  display: block;
  width: 100%;
}
.productsPreview__home-all {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 2rem;
  text-transform: uppercase;
}
.productsPreview__home-all p {
  margin-top: 0;
  line-height: 1;
}
.productsPreview__home-all img {
  max-width: 2rem;
}
.productsList-title {
  padding: 0.3rem 2.5rem;
  margin-top: 0;
  margin-bottom: 1rem;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  background-color: #f9b933;
}
.productsList-item {
  display: block;
  margin-bottom: 0.5rem;
  line-height: 1;
  padding-left: 2.5rem;
  text-decoration: none;
  color: #4c4f55;
}
.productsMenu {
  padding-left: calc(50% - (1120px / 2));
  padding-right: calc(50% - (1120px / 2));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(157,157,157,0.5);
  background-color: #fff;
}
.productsMenu-item {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  width: calc(99.99% * 1/6 - (16px - 16px * 1/6));
  display: block;
  padding-bottom: 0.5rem;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #747577;
  border-bottom: 5px solid rgba(116,117,119,0.5);
  transition: 350ms all ease-in-out;
}
.productsMenu-item:nth-child(1n) {
  margin-right: 16px;
}
.productsMenu-item:last-child {
  margin-right: 0;
}
.productsMenu-item:nth-child(6n) {
  float: right;
}
.productsMenu-item:nth-child(6n) {
  margin-right: 0;
}
.productsMenu-item.active,
.productsMenu-item:hover {
  color: #f9b933;
  border-bottom: 5px solid #f9b933;
}
footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
.footerNav {
  padding-left: calc(50% - (1120px / 2));
  padding-right: calc(50% - (1120px / 2));
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footerNav-item {
  margin-right: 2rem;
  margin-left: 2rem;
  text-decoration: none;
  color: #4c4f55;
  font-weight: 600;
}
.footer-tel {
  position: relative;
  font-size: 1.5rem;
  color: #747577;
}
.footer-tel:before {
  position: absolute;
  top: 5px;
  left: -40px;
  content: url("/img/icon-tel.png");
}
.legals {
  padding-top: 0.5rem;
  width: 100%;
  font-weight: 600;
  font-size: 0.8rem;
  text-align: center;
  color: #9d9d9d;
  border-top: 1px solid rgba(157,157,157,0.5);
}
.legals a {
  color: inherit;
  text-decoration: none;
}
