.getQuote__home
  padding-top 4rem
  padding-bottom 4rem
  text-align center
  
.homeActions
  display flex
  text-transform uppercase
  font-weight 600
  
  &-careers
  &-contact
    lost-column 1/2 2 0px flex
    padding 6rem 6rem
    color white
    text-decoration none
    font-size 2rem
    line-height 1
  
  &-careers
    background url('/img/careers.jpg') center no-repeat
    background-size cover
    
    span
      color $yellow
    
  &-contact
    background-color $yellow
    
    span
      color $dark-grey
      
    img
      display block
      margin-top .5rem