@font-face
  font-family 'DinPro'
  src url('/fonts/dinpro-regular.eot')
  src url('/fonts/dinpro-regular.eot?#iefix') format('embedded-opentype'),
      url('/fonts/dinpro-regular.woff') format('woff'),
      url('/fonts/dinpro-regular.ttf') format('truetype'),
      url('/fonts/dinpro-regular.svg#DINPro-Regular') format('svg')
  font-weight 400
  font-style normal
  
@font-face
  font-family 'DinPro'
  src url('/fonts/dinpro-medium.eot')
  src url('/fonts/dinpro-medium.eot?#iefix') format('embedded-opentype'),
      url('/fonts/dinpro-medium.woff') format('woff'),
      url('/fonts/dinpro-medium.ttf') format('truetype'),
      url('/fonts/dinpro-medium.svg#DINPro-Medium') format('svg')
  font-weight 600
  font-style normal
  
@font-face
  font-family 'DinPro'
  src url('/fonts/dinpro-bold.eot')
  src url('/fonts/dinpro-bold.eot?#iefix') format('embedded-opentype'),
      url('/fonts/dinpro-bold.woff') format('woff'),
      url('/fonts/dinpro-bold.ttf') format('truetype'),
      url('/fonts/dinpro-bold.svg#DINPro-Bold') format('svg')
  font-weight 700
  font-style normal