// ======================================================//
// Normal content / p
// ======================================================//
.text
$text
  color $grey
  line-height 1.75
  margin-top 0


// ======================================================//
// Titles
// ======================================================//
.title
  color $dark-grey
  font-size 2rem
  text-transform uppercase
  margin-top 0
  margin-bottom 1rem
    
  &__small
    font-size 1.5rem

  &__white
    color white

