.companyAbout
  wrapped-left()
  display flex
  flex-direction column
  justify-content center
  padding-right 1rem
  width 66.66%
  background url('/img/company-about.jpg') center no-repeat
  background-size cover
  
  &-info p
    lost-column 1/2 2 no-flex
    
  .btn
    margin-top 1rem