.companyContact
  width 33.33%
  
  +below($desktop)
    width 100%
  
  &-message
  &-getQuote
    padding 4rem 2rem
    
  &-message
    background-color rgba($light-grey, .4)
    
    form
      margin-top 0
      
    form .formItem
      width 100%

  &-getQuote
    background-color white
    
    +below($desktop)
      text-align center
      
      .btn
        transform translateX(-15px)
