.companyAbout
  wrapped-left()
  display flex
  flex-direction column
  justify-content center
  padding-right 1rem
  width 66.66%
  background url('/img/company-about.jpg') center no-repeat
  background-size cover
  
  +below($desktop)
    wrapped(90%)
    width 100%
    padding-top 4rem
    padding-bottom 4rem
  
  &-info p
    lost-column 1/2 2 no-flex
    
    +below($desktop)
      lost-column 1 no-flex
    
  .btn
    margin-top 1rem