form
  margin-top 4rem

  & input:not([type=submit])
  & textarea
    width 100%
    padding .5rem
    border 0
    border-radius 4px
    appearance none
    color $grey
    background-color $soft-grey
    
    &::placeholder
      transform translateY(-5px)
      position relative
      font-size 13px
      color $light-grey
      font-style italic
      
    &.has-error
      border 1px solid $yellow

  & .formItem
    lost-column 1/3 3 no-flex
    margin-bottom 1.25rem

    +below($tablet)
      lost-column 1 1 no-flex

  & .formSubject
  & .formMessage
    margin-bottom 1.25rem
    width 100%
    
.error-validation
  margin-top .25rem
  float left
  font-weight bold
  font-size .825rem
  color $dark-grey