.mainMenu
  display flex
  margin 0
  padding 0
  list-style none
  
  &-item
    margin-left 4.5rem
  
  &-link
    padding 2.5rem .5rem
    display block
    color white
    text-decoration none
    font-size 1.125rem
    font-weight 700
    transition 350ms all ease-in-out
    &.active
    &:hover
      color $dark-grey