.mainNav
  // lost-utility edit
  wrapped()
  position fixed
  top 0
  display flex
  flex-flow row wrap
  align-items center
  justify-content space-between
  width 100%
  background-color rgba($yellow, .85)
  z-index 10