// slides dots
.unslider-nav
  position absolute
  top 60%
  transform translateY(-50%)
  right 6rem
  
  +below($tablet)
    display none

  & ol
    list-style none

    & li
      display block
      margin-bottom 1rem
      width 10px
      height 10px
      border-radius 50%
      background white
      text-indent -999em
      cursor pointer
      
      &last-child
        margin-bottom 0

      &.unslider-active
        background-color $yellow
        cursor default
        
.mainSlider
  height 500px
  
  +below($mobile)
    height 90vh
  
  &-slide
    &-01
      background url('/img/mainSlide01.jpg') center no-repeat
      background-size cover

    &-02
      background url('/img/mainSlide02.jpg') center no-repeat
      background-size cover

    &-03
      background url('/img/mainSlide03.jpg') center no-repeat
      background-size cover

  &-slideInfo
    position absolute
    bottom 0
    left 0
    max-width 500px
    background-color rgba($yellow, .85)
    color white
    text-transform uppercase
    
    +below($mobile)
      width 100%
      
  &-title
    position relative
    padding 2.5rem 6rem 1rem
    font-size 1.75rem
    line-height 1

    +below($mobile)
      padding 2rem 2rem 1rem
    
    &:before
      position absolute
      top 0
      content url('/img/logo-small__white.png')
    
  &-link
    display block
    padding 1rem 0 1rem 6rem
    color inherit
    text-decoration none
    font-weight 600
    background-color $dark-grey
