.mobileNav
  position fixed
  top 0
  left 100%
  padding-top 63px
  width 100vw
  height 100vh
  font-size 1.25rem
  z-index 9
  background-color white
  transition 350ms all ease-in-out
  
  &.is-active
    transform translateX(-100%)
    
  &-menu
    margin 0
    padding 0
    list-style none
  
  &-link
  &-backLink
    display block
    padding 1rem
    border-bottom 2px solid $yellow
    color $dark-grey
    text-decoration none
  
  &-backLink
    color white
    background-color $dark-grey

  &-dropdown
    position fixed
    top 0
    left 100%
    margin 0
    padding 63px 0 0 0
    width 100vw
    height 100vh
    background-color white
    list-style none
    transition 350ms all ease-in-out
    
    &.is-active
      transform translateX(-100%)

.mobileNav-trigger
  padding 0
  border 0
  background transparent
  
  +above($desktop)
    display none



