.productsPreview
  height 100%
  
  &-item
    lost-waffle 1/3
    display block
    padding .5rem .5rem 0
    background-color $soft-grey
    text-decoration none
    color $dark-grey
    font-weight 700
    transition 350ms all ease-in-out
    
    &:hover
      background-color $yellow
    
    img
      display block
      width 100%


.productsPreview__home
  display flex
  
  +below($mobile)
    flex-direction column
  
  &-item
    lost-column 1/6 6 flex
    padding .5rem .5rem 0
    background-color white
    text-align center
    text-decoration none
    color $dark-grey
    font-weight 700
        
    img
      display block
      width 100%
      
    +below($mobile)
      lost-column 1 1 flex
      
      img
        display none
      
  &-all
    display flex
    flex-direction column
    align-items center
    justify-content center
    font-size responsive 1rem 2rem
    text-transform uppercase
    
    p
      margin-top 0
      line-height 1
    
    img
      max-width 2rem