.productsList
  &-title
    padding .3rem 2.5rem
    margin-top 0
    margin-bottom 1rem
    color white
    font-size 1.25rem
    font-weight 700
    line-height 1
    text-transform uppercase
    background-color $yellow
    
  &-item
    display block
    margin-bottom .5rem
    line-height 1
    padding-left 2.5rem
    text-decoration none
    color $dark-grey