.productsList
  &-title
    display inline-block
    margin-bottom 1rem
    padding .3rem 0 .3rem 2rem
    width 100%
    color $yellow
    text-decoration none
    font-size 1.25rem
    font-weight 700
    line-height 1
    text-transform uppercase
    
    &.active
        color white
        background-color $yellow

  &-item
    display block
    margin-bottom .5rem
    padding-left 2rem
    text-decoration none
    line-height 1
    color $dark-grey
    transition 300ms all ease-in-out
    
    &.active
    &:hover
        color $yellow