.productsMenu
  wrapped()
  display flex
  align-items flex-end
  padding-top 2rem
  padding-bottom 2rem
  border-bottom 1px solid rgba($light-grey, .5)
  background-color white
  
  &-item
    display block
    padding-bottom .5rem
    font-weight 700
    line-height 1
    text-transform uppercase
    text-align center
    text-decoration none
    color $grey
    transition 350ms all ease-in-out
    
    +above($desktop)
      lost-column 1/6 6 flex
      border-bottom 5px solid rgba(@color, .5)

    &.active
    &:hover
      color $yellow
      border-bottom 5px solid @color
      

.productsMenu
  +below($desktop)
    flex-direction column
    align-items center
    padding 0
    transition 300ms all ease-in-out

    &:hover .productsMenu-item
      display block

.productsMenu-item
  +below($desktop)
    display none
    padding-top 1rem
    padding-bottom 1rem
    width 100%
  
    &.active
      display block