.sectionContent
  wrapped()
  display flex
  padding-top 2rem
  padding-bottom 4rem
  background-color white
  
  &__contacts
    wrapped-left()
    background-color white
  
.productsPreview
  lost-column 3/4 0 flex

.productsList
  lost-column 1/4 0 flex