.sectionContent
  wrapped()
  display flex
  padding-top 2rem
  padding-bottom 4rem
  background-color white
  
  &__contacts
    wrapped-left()
    display flex
    background-color white
    
  &__company
    display flex
  
.productsPreview
  lost-column 3/4 0 flex

.productsList
  lost-column 1/4 0 flex
  
.careersContact
  lost-column 3/5 0 flex
  padding-top 4rem
  padding-bottom 4rem
  
.sales
  lost-column 2/5 0 flex