.sectionContent
  wrapped()
  display flex
  padding-top 2rem
  padding-bottom 4rem
  background-color white
  
  +below($desktop)
    flex-direction column

  &__contacts
    wrapped-left()
    display flex
    background-color white
      
    +below($mobile)
      flex-direction column
    
  &__company
    display flex
    
    +below($desktop)
      flex-direction column

.productsPreview
  lost-column 3/4 0 flex
  
  +below($desktop)
    lost-column 1 flex
    order 1
    
.productsList
  lost-column 1/4 0 flex
  
  +below($desktop)
    display none
  
.careersContact
  lost-column 3/5 0 flex
  padding-top 4rem
  padding-bottom 4rem
  
  +below($desktop)
    wrapped(90%)

  +below($mobile)
    lost-column 1 1 0 flex

.sales
  lost-column 2/5 0 flex
  
  +below($mobile)
    lost-column 1 1 0 flex